@import "/fliza_modules/core/less/utils";

@import "/fliza_modules/fliza-ui/less/style";

#pack{
  .p{
    &.cover{
      .show-txt{
        .absolutefull();
        z-index: 2;
      }
      .txt{
        position: absolute;
        left:0;
        width:100%;
        top:50%;
        z-index: 1;
        .transform(translate(0,-50%));
        opacity:0;
        .transition(opacity 1s);

        background-color: rgba(0,0,0,.85);
        color:white;
        font-size: 2em;
        padding: 1.5em;
        line-height: 1.8em;
        box-sizing: border-box;
        text-indent: 2em;

        &.show{
          opacity:1;
        }
      }
    }

    &.qa{
      .scrollable-pack{
        width:100%;
        height:100%;
        .inner{
          .blank{
            height:500px;
          }
          a{
            display: block;
            background-color: #b71427;
            padding: 20px 0 10px 0;
            text-align: center;
            >span{
              display: inline-block;
              font-size: 3em;
              color: white;
              vertical-align: bottom;
            }
            .qa-title{

            }
            .qa-icon{
              margin:0px 10px;
              >img{
                vertical-align: top;
                margin-top: 5px;
              }
            }
            .qa-name{
              font-size: 2.5em;
            }
          }
          .qa-list{
            background-color: white;
            padding: 20px 30px;
            >li{
              border-bottom: 1px solid #333;
              margin-bottom: 20px;
              padding-bottom: 20px;
              h3{
                font-size: 2.2em;
                font-weight: bold;
                line-height: 2.5em;
              }
              p{
                font-size: 2em;
                line-height: 1.5em;
              }
            }
          }
        }
      }

    }

    &.editor-talk{
      .content{
        position: absolute !important;
        top: 400px;
        width: 100%;
        bottom: 20px;
        padding: 0 20px;
        box-sizing: border-box;
        overflow: hidden;
        >p{
          font-size: 2em;
          line-height: 1.5em;
          text-indent: 2em;
        }
      }
    }

  }

}



//for iphone4,4s
@media screen and (max-device-height: 480px){}